html{
    scroll-behavior: smooth;
}

body{
    background-color:	#f1d4d4;
}

@font-face{
    font-family: "CinzelDecorative";
    src: url("../fonts/CinzelDecorative-Regular.otf");
}

@font-face{
    font-family: "ElMessiri";
    src: url("../fonts/ElMessiri-Regular.ttf");
}

@font-face{
    font-family: "MedulaOne";
    src: url("../fonts/MedulaOne-Regular.ttf");
}

.navbar-brand {
    padding: 0px; /* firefox bug fix */
}

.navbar-brand>img {
    padding: 15px; /* firefox bug fix */
    width: 6em;
    border-radius: 40%;
}

.nav-link{
    font-family: 'ElMessiri';
    font-size: 27px;
    font-variant-caps: petite-caps;
    color: #3B185F; 
}

.nav-link:hover{
    text-decoration: underline;
    color: #380f3f;
}

#header img{
    width: 100%;
    margin-top: -9%; /* cambiar en responsive*/
    height: 764px;
    /* background-color: rgba(255, 105, 180, 0.822); */
    /* background-color: #FEC260; */
    /* background-color: rgb(254, 236, 183); */
    background-image: url("../img/istockphoto-827208572-612x612.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/**************************** à propos de moi ***********************************/
#propos{
    background-color: #ac8daf;
    height: 410px;
    padding-top: 50px;
}

#propos-img{
    width: 18%;
    border-radius: 45% 45% 45% 45%;
    margin-top: -6%;
    /* margin-left: -18%;
    position: relative; */
}

#propos p{
    color: aliceblue;
    font-size: 23px;
    margin-left: 5%;
    margin-right: 5%;
    font-style: italic;
    opacity: 0;
    font-family: 'Playfair Display', serif;
}


/**************************** Competences ***********************************/
#competences{
    background-color: #ddb6c6;
    height: 760px;
}
#competences>a{
    color:aliceblue;
    border-style: double;
    text-decoration: none;
    padding: 0.5em;
    margin-left: 80%;
    opacity: 0;
}

#competences>a:hover{
    background-color: cadetblue;
}

#competences-img{
    width: 18%;
    border-radius: 45% 45% 45% 45%;
    margin-top: -3%;
    margin-left: 100%;
}

    /***SKILLS***/
    
    fieldset{
       margin-left: 5%;
       margin-top: 2%;
    }

    .compet1, .compet2, .compet3, .compet4, .compet5, .compet6, .compet7, .compet8, .compet9{
        opacity: 0;
    }
    
    ul.hover_block li{
        list-style:none;
        float:left;
        background: #fff;
        padding: 10px;
        width: 180px; 
        position: relative;
        margin-right: 20px; 
        margin-top: 15px;
    }
    
    ul.hover_block li a{
        display: block;
        position: relative;
        overflow: hidden;
        height: 160px;
        /* width: 268px; */
        padding: 16px;
        color: #000;
        font: 15px Helvetica, Arial, sans-serif;
    }
    
    ul.hover_block li a{
        text-decoration: none; 
    }
    
    ul.hover_block li .img-skills{
        position: absolute;
        top: 0;
        left: 0;
        border: 0;
        width: 100%;
        border-radius: 15%;
    }
    
    .checked{
        color: orange;
    }
    
    .checkedlove{
        color: red;
    }

    .renglon2{
        margin-left: 7%;
        margin-top: 2%;
    }

    .renglon3{
        margin-left: 21%;
    }
